body {
    background-color: rgb(0, 0, 0);
    font-family: Umbrella;
    font-size: 96pt;
}
@font-face { font-family: Umbrella;
    src: url(Umbrella-Regular.otf);
}

.center {
    text-align: center;
}

.white {
    color:ghostwhite;
    font-weight: lighter;
}

.centerimg {
    display: block;
    margin: auto;
    width: 100%;
  }

h1 {
    font-family: Umbrella;
    font-size: 180pt;
}

h2 {
    font-family: Umbrella;
    font-size: 96pt;
}

p {
    color:aquamarine;
    font-family: Umbrella;
    font-size: 48pt;
}

a:link,a:visited {
    color:ghostwhite;
    text-decoration:none;
}

a:hover,a:active {
    color:aquamarine;
    font-size: 128pt;
}