body {
    background-color: rgb(0, 0, 0);
    font-family: Umbrella;
    color: ghostwhite;
    font-size: 5vw;
}

@font-face { font-family: Umbrella;
    src: url(Umbrella-Regular.woff;)format(woff)
}

.title{
    font-family: Umbrella;
    color:ghostwhite;
    font-size: 20vw;
    text-align: center;
    margin: auto;

}

.title:hover {
    color:aquamarine;
}


.link{
    color:ghostwhite;
    text-decoration: none;
    transition: 0.25s;
}

.link:hover{
    color:aquamarine;
    text-decoration: none;
}