body {
    background-color: rgb(0, 0, 0);
    font-family: Umbrella;
    text-decoration: none;
    font-size: 48pt;
    outline: none;
}

@font-face { font-family: Umbrella;
    src: url(Umbrella-Regular.woff;)format(woff)

}

.center {
    text-align: center;
}

.white {
    color:ghostwhite;
}

h1 {
    font-family: Umbrella;
    font-size: 48pt;
    line-height: 25%;
    transition: 1s;
}

h1:hover {
    color: aquamarine;
}

h2 {
    font-family: Umbrella;
    font-size: 48pt;
}

hr {
    color: ghostwhite;
}

p {
    font-family: Umbrella;
    font-size: 48pt;
    line-height: 25%;
}

ul {
    list-style: none;
}

li {
    font-size: 48pt;
    transition: 1s
}

li:hover {
    color:aquamarine;
    font-size: 72pt;
}

